@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


*{
    margin: 0;
    padding: 0;
   
}
body{
    background: url('../background.jpeg') center;
    background-size: cover;
}
.text{
    position: fixed;
    font-size: 5em;
    top: 10%;
    left: 50%;
    color: #fff;
    text-shadow: 0 2px 5px rgba(15, 184, 63, 0.3);
    transform: translateX(-50%);
    font-family: 'Bangers', cursive;
}

.arrow{
    display: block;
    font-size: 15px;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
}
@media screen and (max-width: 768px){
    .text{
        font-size: 3em;
    }
}