@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    font-size: 0px;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li, ul {
    list-style: none;
}

.intro {
    position: relative;
    height: 100vh;
}

.intro video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 50;
}

.gnb {
    position: fixed;
    top: 40px;
    right: 100px;
    z-index: 30;
}
.gnb::after{
    position: fixed;
    top: 20px;
    left: 30px;
    content:"The Land Before Time";
    display: block;
    font-size: 50px;
}
.gnb li {
    float: left;
    margin-left: 50px;
}

.gnb li a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    transform: scale(1);
    opacity: 0.5;
    transition: all .5s;
    color: rgb(36, 36, 36)
}

.gnb li a:hover {
    transform: scale(1.05);
    opacity: 1;
}

.intro h1 {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: #fff;
    z-index: 999;
    letter-spacing: 6px;
    font-family: 'Permanent Marker', cursive;
}

section {
    position: relative;
    background: url(./img/grass.png) no-repeat center bottom;
    background-size: cover;
    background-color: rgba(58, 58, 58, 0.256);
    height: 100vh;
    color: black;
    /* display: flex; */
    /* flex-direction: column; */
    overflow: hidden;
}
section div{
    position: absolute;
    top: 40%;
    left: 10%;
    opacity: 0;
    width: 50%;
    height: 50%;
    padding: 20px;
    z-index: 40;
    /* background-color: antiquewhite; */
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}
section div span {
    font-size: 20px;
}
section div.on{
    opacity: 1;
}


/* section div.on{
    display: block;
    z-index: 22;
} */
section article {
    width: 100%;
    height: 100%;
}

section article video {
    display: none;
    position: absolute;
    object-fit: cover;
    object-position: center bottom;
    opacity: .85;
    transition: all 0.3;
}

section article video.on {
    display: block;
    z-index: 32;
}

section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
}

section img {
    position: absolute;
    width: 200px;
    cursor: pointer;
    transition: all .4s;
    opacity: .7;
    z-index: 99;
}

section img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.dinosaur1 {
    bottom: 10px;
    right: 20px;
}

.dinosaur2 {
    bottom: 20px;
    right: 180px;
}

.dinosaur3 {
    width: 250px;
    bottom: -10px;
    right: 350px;
}
@media screen and (max-width: 1150px) {
    .gnb::after{
        width: 100%;
        text-align: center;
        top: 30%;
        left: 0px;
        font-size: 45px;
    }
}
@media screen and (max-width: 700px) {
    .intro h1 {
        font-size: 50px;
    }
    .gnb li {
        margin-left: 20px;
    }

    .dinosaur1 {
        right: 2%;
    }

    .dinosaur2 {
        right: 27%;
    }

    .dinosaur3 {
        right: 50%;
    }
    section div{
        left: 5%;
        width: 90%;
    }
    .gnb::after{
        font-size: 35px;
    }

}