.payment input[type="text"]{
    color: #1d1d1f;
    max-width: 400px;
    border-color: #d2d2d7;
    background-color: hsla(0, 0%, 100%, 0.8);
    text-overflow: ellipsis;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF pro Text, SF Pro Icons, Helvetica Neue, sans-serif;
    width: 100%;
    height: 3.12412rem;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 0.82353rem;
    padding: 1.05882rem 0.94118rem 0;
    text-align: left;
    -webkit-appearance: none;
    appearance: none;
}

.payment button {
    padding: 4px 8px;
    height: 2.29412rem;
    max-width: 400px;
    border-radius: 4px;
    border: 1px solid #555;
    background: 0 0;
    background-color: #555;
    color: #fff;
    font-size: 13px;
    text-shadow: none;
}

.payment select {
    color: #1d1d1f;
    max-width: 400px;
    border-color: #d2d2d7;
    background-color: hsla(0, 0%, 100%, 0.8);
    text-overflow: ellipsis;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF pro Text, SF Pro Icons, Helvetica Neue, sans-serif;
    width: 100%;
    height: 3.12412rem;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 0.82353rem;
    padding: 1.05882rem 0.94118rem 0;
    text-align: left;
}