@charset "utf-8";
    



*{margin: 0; padding: 0; box-sizing: border-box;}

ul{list-style: none;}
a{ text-decoration: none; 
    font-family: 'NanumSquare', sans-serif !important;
    font-weight: bolder;
}
#wrap{
    width: 1040px;
    margin: 0 auto;
}


#main_img {width: 100%; position: relative; top: -1746px;}
#main_img img {width: 100%; height: 750px;}


#header{
    width: 100%;
    position: relative;
    height: 100px;
    z-index: 1;
}
#header:hover {background-color: #fff;}
#logo{
    width: 100px;
    position: absolute;
    top: 25px;
    left: 40px;
}

#menu {
    width: 60%;
    position: absolute;
    top: 32px;
    left: 200px;
}
#big_h {width: 100%;}
#big_h>li {width: 20%; float: left;}
#big_h>li a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
#header:hover #big_h>li a{color: black;}
#big_h>li:hover>a {
    text-shadow: 0 1px 0 #ccc;
    border-bottom: 3px solid rgb(173, 191, 224);
}
#big_h li ul li a {
    display: block;
    height: 0;
    line-height: 50px;
    text-align: center;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    opacity: 0;
    box-shadow: 1px 1px 2px #ccc;
    transition: 0.3s;
}
#big_h li:hover ul li a {
    opacity: 1;
    height: 50px; 
    background-color: #fff;
}
#big_h li ul li:hover a {
    border-bottom: none;
    border: 1px solid #2978b5;
    box-shadow: #1e5177;
    transition: none;
    background-color: #f5f5f5;
}

#licon {
    width: 17%;
    position: absolute;
    top: 45px;
    left: 840px;
}
#search {
    border: 1px solid #808080;
    width: 125px;
    height: 25px;
    position: relative;
    background-color: white;
}
#search_1 {
    width: 95px;
    height: 23px;
    border: none;
    position: absolute;
    border-right: 1px solid #808080;
    outline: none;
    left: 5px;
}
#search_i {
    width: 18px;
    position: absolute;
    right: 3px;
    top: 2px;
}
#search_m {
    width: 20px;
    position: absolute;
    top: 3px;
    right: 10px;
    color: white;
}
#my1 {
        width: 100%;
}
header:hover #my1 {
        display: none;
}
#my2 {
        display: none;
}
header:hover #my2 {
        display: block;
        width: 100%;
}

#contents {width: 1040px; margin: 0 auto; position: relative; top: 700px;}
   
/*------------------추천여행지---------------------*/
#rec {width: 100%; height: 300px;}
#rec-list li {
        float: left;
        width: 31.63333%;
        height: 200px;
        position: relative;
}
#rec-list li:nth-child(1) {margin-right: 2.55%;}
#rec-list li:nth-child(2) {margin-right: 2.55%;}
#rec-list li img {
        display: block;
        width: 100%;
        height: 100%;
}
#rec-list li a .rcm {position: absolute; opacity: 0; color: white;}
#rec-list li a:hover .rcm {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        opacity: 1;
        transition: 0.5s;
        text-align: center;
        color: white;
}
#rec-list li a:hover .rcm p {
        font-size: 20px;
        font-weight: bold;
        opacity: 1;
        margin-top: 78.5px;
}
#rec-list li a:hover .rcm span {
        font-size: 18px;
        opacity: 1;
        margin-top: 5px;
        margin-bottom: 78.5px;
        transition: 0.5s;
}

/*------------------스토리보드---------------------*/
#stb {width: 100%; height: 400px;}
#stb-list li {
        float: left;
        overflow: hidden;
        width: 48.725%;
        height: 300px;
        position: relative;
}
#stb-list li:nth-child(1){margin-right: 2.55%;}
#stb-list li img {
        display: block;
        width: 100%;
        height: 100%;
}
#stb-list li a .story {position: absolute; opacity: 0; color: white;}
#stb-list li a:hover .story {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        opacity: 1;
        transition: 0.5s;
        text-align: center;
        color: white;
}
#stb-list li a:hover .story p {
        font-size: 20px;
        font-weight: bold;
        opacity: 1;
        line-height: 300px;
        transition: 0.5s;
}

/*------------------지역별---------------------*/
#area {width: 100%; height: 526.52px;}
#area-wrap li {
        float: left;
        width: 31.63333%;
        height: 200px;
        position: relative;
}
#area-box1 li {margin-bottom: 26.52px;}
#area-box1 li:nth-child(1){margin-right: 2.55%;}
#area-box1 li:nth-child(2){margin-right: 2.55%;}
#area-box2 li:nth-child(1) {margin-right: 2.55%;}
#area-box2 li:nth-child(2) {margin-right: 2.55%;}
#area-wrap img {
        display: block;
        width: 100%;
        height: 100%;
}
#area-wrap li a .ar {position: absolute; opacity: 0; color: white;}
#area-wrap li a:hover .ar {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        opacity: 1;
        transition: 0.5s;
        text-align: center;
        color: white;
}
#area-wrap li a:hover .ar p {
        font-size: 20px;
        font-weight: bold;
        opacity: 1;
        line-height: 200px;
        transition: 0.5s;
}

/*------------------이벤트---------------------*/
#event {width: 100%; height: 300px;}
#event-list li {
        width: 23.0875%;
        height: 200px;
        float: left;
}
#event-list li:nth-child(1) {margin-right: 2.55%;}
#event-list li:nth-child(2) {margin-right: 2.55%;}
#event-list li:nth-child(3) {margin-right: 2.55%;}
#event-list li img {
        display: block;
        width: 100%;
        height: 100%;
}

#event img{transition: all 0.5s;}

#event img:hover{transform: scale(1.05)}

.title {
        font-size: 23px;
        margin-top: 25px;
        margin-bottom: 27px;
        margin-left: 20px;
        color: #2978b5;
}

#footer {
    background-color: #808080; 
    width: 100%; 
    clear: both; 
    position: relative;
}
#footer01 {width: 1040px; height: 300px; margin: 0 auto;}
#footer01 div {
float: left;
width: 20%;
text-align: center;
}
#footer01 div span {
color: rgba(255, 255, 255, 0.8);
line-height: 80px;
font-weight: bold;
font-size: 15px;
}
#footer01 div ul li:nth-child(1) {margin-bottom: 10px;}
#footer01 div ul li:nth-child(2) {margin-bottom: 10px;}
#footer01 div ul li:nth-child(3) {margin-bottom: 10px;}
#footer01 div ul li:nth-child(4) {margin-bottom: 10px;}
#footer01 div ul li:nth-child(5) {margin-bottom: 10px;}
#footer01 div ul li a {
color: rgba(255, 255, 255, 0.5);
font-size: 13px;
}
#footer02 {border-top: 2px solid #707070;}
#footer02 p {color: white; text-align: center; padding: 30px 0 30px 0;}