body {
	background: #4197c9;
	overflow: hidden;
}

.cursorItem {
	position : absolute;
	top:0;
	left: 0;
	z-index : 1000;
	pointer-events: none;
	mix-blend-mode: multiply;
	opacity : .5;
	
	.circle {
		position:fixed;
		display : block;
		width : 120px;
		height: 120px;
		margin : -60px 0 0 -60px;
		background : #a300a8;
		border-radius : 50%;
		transition : all .2s ease-in-out;
	}
	
}
.gate-box {
	position : absolute;
	top: 40%;
	left: calc(50% - 200px);
	width: 400px;
	// border : 1px solid #fff;
	.top {
		//width: 50vw;
		border: 2px solid #fff;
		border-bottom: none;
		padding : 5px;
		p {
				text-align: center;
				color: #fff;
				font-size: 20px;
		}
	}
	p {
		font-size: 20px;
		color: #fff;
	}
	.bottom {
		border : 2px solid #fff;
		//padding : 20px;
		.inner {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
		}
		a {
			font-size : 20px;
			color: #fff;
			width: 100%;
			text-align: center;
			display: inline-block;
			text-decoration : none;
			padding : 20px 0;
			transition : all .3s ease;
			box-sizing: inherit;
			&:hover {
				background : #fff;
				color: #4197c9;
			}
		}
		#yes {
			border-right : 2px solid #fff;
		}
	}
}