body{
  background-color: #333;
}

div {
  background-color: rgd(162, 127, 243);
  color: rgb(255, 255, 255);
  padding: 40px 40px;
  font-family: 고딕;
  text-align: center;
}


h1{
  color: white;
  background-color: #2EFE2E;
  padding: 10px;
  font-family: 궁서;
}

