.white {
    color: #fff;
  }
  .black {
    color: #1d1d1f;
  }
  .grey {
    color: #86868b;
  }
  
  /* welcom */
  .welcome {
    margin-top: 72px;
    width: 100%;
    height: 500px;
    background-image: url("../../Images/home/landingPage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .welcome h1 {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
  }
  
  /*--- section product ---*/
  .product-grid {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .product-grid h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .grid-container {
    width: 1070px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
  .grid-product {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .grid-product:hover {
    background: #e1e1e1;
  }
  .grid-product img {
    width: 300px;
  }
  .grid-detail {
    margin: 20px 0;
    text-align: center;
  }
  .grid-detail p:last-child {
    transition: 0.5s;
    margin-top: 10px;
  }
  .grid-product:hover > .grid-detail p:last-child {
    color: #3498db;
  }
  
  /*first section*/
  .first-hightlight-wrapper {
    height: 580px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: initial;
    background-color: #fbfbfd;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  /* second section */
  .second-hightlight-wrapper .left-side-wrapper .left-side-container {
    background-image: url("../../Images/home/iphone11-colored.jpg");
    background-color: #000;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: cover;
  }
  .second-hightlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../../Images/home/apple-blue-logo.jpg");
    background-color: #165ca9;
    background-position: bottom;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: auto;
  }
  .links-wrapper.white li a {
    color: #fff;
  }
  .second-hightlight-wrapper .right-side-wrapper .title-wraper {
    max-width: 380px;
  }
  
  /*third Section*/
  .third-hightlight-wrapper {
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
  }
  .third-hightlight-wrapper .left-side-wrapper .left-side-container {
    background-image: url("../../Images/home/actors.jpg");
    background-color: #000;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: cover;
  }
  .third-hightlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../../Images/home/watch.jpg");
    background-color: #fbfbfd;
    background-position: bottom;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: auto;
  }
  .third-hightlight-wrapper .description-wraper {
    max-width: 450px;
    margin: 7px auto;
  }
  .watch-more-wrapper a {
    text-decoration: none;
    font-size: 0.85em;
    color: #fff;
  }
  .watch-more-wrapper a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
  }
  .tvshow-logo-wraper {
    padding: 340px 0 0px;
  }
  
  /*fourth Section*/
  .fourth-hightlight-wrapper .left-side-wrapper .left-side-container {
    background-image: url("../../Images/home/spyder.jpg");
    background-color: #000;
    background-position: bottom;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: cover;
  }
  .fourth-hightlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../../Images/home/apple-card-monthly.jpg");
    background-color: #fbfbfd;
    background-position: bottom;
    padding-top: 35px;
    margin: 0 0 10px 0;
    background-size: auto;
  }
  
  .left-side-container {
    min-height: 515px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .right-side-container {
    min-height: 515px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  .left-side-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .right-side-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  .fourth-hightlight-wrapper .links-wrapper {
    max-width: 300px;
    margin: 0 auto;
  }
  .links-wrapper ul {
    list-style: none;
  }
  .product-title {
    font-weight: 700;
    font-size: 56px;
  }
  .brief-description {
    font-size: 2em;
  }
  .fourth-hightlight-wrapper .description-wraper {
    max-width: 250px;
    margin: 7px auto;
  }
  .description-wraper.white {
    color: white;
  }
  .links-wrapper {
    padding: 15px 0;
  }
  .links-wrapper ul li {
    display: inline-block;
    padding-right: 20px;
  }
  .links-wrapper ul li a {
    color: #06c;
    text-decoration: none;
    font-size: 21px;
  }
  .links-wrapper ul li a:hover {
    color: #000;
  }
  .links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: ">";
    padding-left: 10px;
  }
  .title-wraper {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
  }
  .title-wraper.bold {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
  }
  .right-side-wrapper .title-wraper {
    max-width: 280px;
    margin: 0 auto;
  }
  .description-wrapper {
    font-size: 26px;
    padding: 10px 0;
  }
  
  /*Media Quer    y*/
  /* Footer */
  @media (max-width: 768px) {
    .footer-links-wrapper ul {
      display: none;
    }
    .footer-links-wrapper h3 {
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
    }
    .footer-links-wrapper h3:after {
      font-family: "FontAwesome";
      content: "\f067";
      padding-left: 10px;
      position: absolute;
      right: 25px;
    }
  }
  @media (min-width: 768px) {
    /*Nav bar*/
    .nav-item {
      text-align: center !important;
      padding: 0;
      border-bottom: 0px;
    }
    /*Footer styling*/
    .my-apple-wrapper {
      border-bottom: 1px solid #d2d2d7;
    }
    /* first section */
    .first-hightlight-wrapper {
      min-height: 692px;
      background-image: url("../../Images/home/macbookair-new.jpg");
    }
    .new-alert {
      color: #bf4801;
      font-size: 18px;
    }
    /*second section*/
    .second-hightlight-wrapper .left-side-wrapper .left-side-container {
      margin: 10px 5px 5px 10px;
    }
    .second-hightlight-wrapper .right-side-wrapper .right-side-container {
      margin: 10px 10px 5px 5px;
    }
    .title-wraper.bold {
      font-size: 56px;
    }
    /*third section*/
    .third-hightlight-wrapper .left-side-wrapper .left-side-container {
      margin: 5px 5px 5px 10px;
    }
    .third-hightlight-wrapper .right-side-wrapper .right-side-container {
      margin: 5px 10px 5px 5px;
    }
    /*fourth section*/
    .fourth-hightlight-wrapper .left-side-wrapper .left-side-container {
      margin: 5px 5px 10px 10px;
    }
    .fourth-hightlight-wrapper .right-side-wrapper .right-side-container {
      margin: 5px 10px 10px 5px;
    }
    .fourth-hightlight-wrapper .links-wrapper {
      max-width: 500px;
    }
  }
  @media (min-width: 992px) {
    /*Footer styling*/
    .copyright {
      margin-top: 10px;
    }
    .footer-country {
      margin-top: 10px;
    }
    .footer-links-terms {
      margin-top: 10px;
    }
  }
  