.product-info-action {
    border: solid 1px #d2d2d7;
    padding: 1.3rem;
    border-radius: 5px;
    margin: 7px 0;
}

.product-info-action:hover{
    border: solid 1px #86868b;
}

.quantity {
    padding-top: 10px;
    margin-right: 60px;
}

.quantity button[class*="btn"] {
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
}